<!DOCTYPE html>
<html>
    <head>
        <title>Band Page</title>
        <base href="/">
        
        <link rel="stylesheet" type="text/css" href="widgets/birdchooser/birdchooser.style.css">
    </head>
    <body>
        Hello Band Page Edit 2 I love eggs
        
        <div ng-app="app">
            <div ng-view>
                
            </div>
            
            <!--<div ng-controller="NameCtrl">
                <ul>
                    <li ng-repeat="name in names">{{name}}</li>
                </ul>
                <form ng-submit="events.addName()">
                    <input type="text" ng-model="enteredName">
                    <input type="submit" value="add">
                </form>
            </div>-->
        </div>
        
        <a href="#!/View1">View 1</a>
        <a href="#!/View2">View 2</a>
        <a href="#!/View3">View 3</a>
        
        <!--Dependencies-->
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        
        <!-- App Scripts -->
        <script src="/build/src/app/app.module.js"></script>
        <script src="/build/src/app/app.routes.js"></script>
        <script src="/build/src/app/nameCtrl.js"></script>
        <script src="/build/src/filmsearch/queryResponse.js"></script>
        <script src="/build/src/filmsearch/filmsearch.service.js"></script>
        <script src="/build/src/filmsearch/filmsearch.controller.js"></script>
        <script src="/build/src/filmsearch/poster.controller.js"></script>
        <script src="/build/src/widgets/birdchooser/bird.js"></script>
        <script src="/build/src/widgets/birdchooser/birdchooser.directive.js"></script>
        <script src="/build/src/app/app.run.js"></script>
    </body>
</html>